
div.container{
    div.child{
        a{
            color: yellow;
            font-size: 20px;
        }  
    }
    p{
        font-size: 30px;
        color: aquamarine;
        border: {
            top: solid 3px red;
            bottom: solid 4px white;

        }   
    }
}